[submodule "lms-frontend"]
	path = lms-frontend
	url = https://github.com/wxiaoyun/lms-frontend
	branch = master
[submodule "lms-backend"]
	path = lms-backend
	url = https://github.com/wxiaoyun/lms-backend
	branch = master
